<div class="container entree">
	<div class="title">
		<div class="owl-carousel owl-theme margin">
			<div><%= image_tag 'diapo1-01.jpg' %></div>
			<div><%= image_tag 'diapo1-02.jpg' %></div>
			<div><%= image_tag 'diapo1-03.jpg' %></div>
			<div><%= image_tag 'diapo1-04.jpg' %></div>
		</div>
	</div>
</div>
<!-- Introduction Section COMMENT NOUS INTERVENONS -->
<section class="introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="title">
                    <h2>COMMENT NOUS INTERVENONS ?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <%= link_to 'En savoir plus', services_path, :class => "more viewmore-1" %>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-search"></i>
                        <h4>Par une analyse de votre demande d'aide</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <%= link_to 'En savoir plus', services_path, :class => "more viewmore-1" %>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-comment-medical"></i>
                        <h4>Par une série de conseils de protection</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <%= link_to 'En savoir plus', services_path, :class => "more viewmore-1" %>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-location-arrow"></i>
                        <h4>Par des actions de protection immédiate</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <%= link_to 'En savoir plus', services_path, :class => "more viewmore-1" %>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-hand-paper"></i>
                        <h4>Par une prise de main à distance par un ingénieur compétent</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <%= link_to 'En savoir plus', services_path, :class => "more viewmore-1" %>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-database"></i>
                        <h4>Nous nous déplaçons chez vous pour essayer de récupérer vos données, protéger votre système</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <%= link_to 'En savoir plus', services_path, :class => "more viewmore-1" %>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-desktop"></i>
                        <h4>Nous vous aidons a tout ré-installer et à redémarrer le plus rapidement possible</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end containerFIN DE COMMENT NOUS INTERVENONS -->
<!-- Middle Information Section POURQUOI NOUS CHOISIIIIIIR -->
<section class="middle-information">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="title title-white">
                    <center>
                        <h2>Pourquoi nous choisir ?</h2>
                    </center>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="why-choose">
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-money-bill-wave-alt"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4>80 % des PME et PMI ne sont pas protégés ni sécurisées. Et vous ?</h4>
                        </div>
                    </div>
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-desktop"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4>Ordinateur bloqué = impossible de travailler. Avez-vous un plan de continuité d’activité ?</h4>
                        </div>
                    </div>
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-skull-crossbones"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4>Vol d’identité, Code de carte bleue, de vos photos, etc. Que faire ? Comment réagir ?</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="why-choose">
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-comment-medical"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4>En 2018, 1000 entreprises disparaîtront à cause d'une attaque par internet. Avez-vous pris vos précautions ?</h4>
                        </div>
                    </div>
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4>80% des failles de sécurité sont dues aux utilisateurs. Formez-vous à la sécurité.</h4>
                        </div>
                    </div>
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-shield-alt"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4>Protégez-vous dès maintenant ! SecurityKeys, une assistance complète et efficace.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN DE POURQUOI NOUS CHOISIR -->
<!-- feature-service Section NOS SERVICESSSSSSS -->
<section class="feature-service">
    <div class="container">
        <div class="title">
            <h2>Nos Services</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('conseils.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><%= link_to 'AUDIT & CONSEIL', services_path %></h3>
                        <p>SecurityKeys vous accompagne à définir et mettre en œuvre une nouvelle infrastructure, analyser tous vos problèmes techniques.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('accompagnement.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><%= link_to 'ACCOMPAGNEMENT SUR-MESURE', services_path %></h3>
                        <p>SecurityKeys vous fait profiter de son expertise pour vous accompagner pendant toute la durée de vos projets informatiques.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('serveur.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><%= link_to 'ASSISTANCE MISE EN LIGNE', services_path %></h3>
                        <p>SecurityKeys étudie avec vous la solution d’hébergement la plus adaptée à vos besoins en fonction de votre activité.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('securite.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><%= link_to 'SÉCURITÉ', services_path %></h3>
                        <p>Confidentialité, intégrité et disponibilité des données transitant sur le Système d'Information sont devenues un enjeu majeur.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('formation.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><%= link_to 'CONTRAT ANNUEL DE FORMATION', services_path %></h3>
                        <p>SecurityKeys vous propose de vous aider en formant vos collaborateur ou vous même. Contactez nous pour plus d'informations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('depanne.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><%= link_to "CONTRAT ANNUEL D'ASSISTANCE", services_path %></h3>
                        <p>Vous rencontrez une difficulté informatique pour des logiciels ou des matériels nous intervenons pour vous aider a trouver une solution.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="viewmore"> 
            <%= link_to 'PLUS DE DÉTAILS', services_path, :class => "more viewmore-3" %>
        </div>
    </div>
</section>
<!-- FIN DE NOS SERVICES -->





<!-- Testimonials Section DERNIERS ARTICLES BLOOOOOOOOOOG-->
<section class="customer-testimonials">
    <div class="container">
        <div class="title">
            <h2>DERNIERS ARTICLES</h2>
        </div>
        <div class="row">
            <div class="owl-item" style="width: 380px;">
                <div class="item">
                    <div class="recent-update-block">
                        <div class="recent-update-img"> 
                            <%= link_to image_tag('image1.jpg', class: 'img-responsive'), pages_articleun_path %>
                            <div class="recent-update-date">
                                <div class="date">16</div>
                                <div class="month">Juin</div>
                                <div class="year">2018</div>
                            </div>
                        </div>
                        <div class="recent-update-content">
                            <h3>Internet c'est dangereux, avec SecurityKeys.eu c'est mieux et c'est plus sûre.</h3>
                            <p>Votre monde tourne autour de votre ordinateur et d'internet, ce média qui trace le futur, a facilité la vie et les relations entre les individus mais a beaucoup de faiblesses et de fragilités.</p>
                            <%= link_to 'Lire la suite', pages_articleun_path, :class => "more viewmore-4" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item" style="width: 380px;">
                <div class="item">
                    <div class="recent-update-block">
                        <div class="recent-update-img"> 
                            <%= link_to image_tag('image2.jpg', class: 'img-responsive'), pages_articledeux_path %>
                            <div class="recent-update-date">
                                <div class="date">16</div>
                                <div class="month">Juin</div>
                                <div class="year">2018</div>
                            </div>
                        </div>
                        <div class="recent-update-content">
                            <h3>Proposez a vos amis de nous connaître. Partagez et protégez les des attaques par virus.</h3>
                            <p>Vous avez envie de partager et d'apprendre à vous protéger des virus, chevaux de Troie, Ramsomware, et autres attaques qui peuvent vous faire tout perdre.</p>
                            <%= link_to 'Lire la suite', pages_articledeux_path, :class => "more viewmore-4" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials SectionPROTECTION DES DONNÉES PERSONNELLES -->
<section class="customer-testimonials">
    <div class="container">
        <div class="title">
            <h2>PROTECTION DES DONNÉES PERSONNELLES : DPO RGPD</h2>
            <p>le nouveau règlement européen rentre en vigueur le 25 mai 2018 : êtes vous conforme ? <br>Obligation de la sécurité, La notion de consentement, Le DPO, La violation des données...</p>
        </div>
    </div>
</section>

<div class="container confiance">
	<div class="title">
		<p>Ils nous ont fait confiance :</p>
		<div class="owl-carousel owl-theme">
			<div><%= image_tag 'logo1.png', style: "width: 15%" %></div>
			<div><%= image_tag 'logo2.png', style: "width: 15%" %></div>
			<div><%= image_tag 'logo3.png', style: "width: 25%" %></div>
			<div><%= image_tag 'logo4.jpg', style: "width: 25%" %></div>
			<div><%= image_tag 'logo5.png', style: "width: 50%" %></div>
			<div><%= image_tag 'logo6.png', style: "width: 15%" %></div>
			<div><%= image_tag 'logo7.png', style: "width: 15%" %></div>
			<div><%= image_tag 'logo8.jpg', style: "width: 30%" %></div>
			<div><%= image_tag 'logo9.jpg', style: "width: 45%" %></div>
			<div><%= image_tag 'logo10.jpg', style: "width: 25%" %></div>
			<div><%= image_tag 'logo11.jpg', style: "width: 20%" %></div>
			<div><%= image_tag 'logo12.jpg', style: "width: 20%" %></div>
			<div><%= image_tag 'logo13.jpg', style: "width: 15%" %></div>
			<div><%= image_tag 'logo14.png', style: "width: 20%" %></div>
			<div><%= image_tag 'logo15.png', style: "width: 20%" %></div>
			<div><%= image_tag 'logo16.png', style: "width: 20%" %></div>
			<div><%= image_tag 'logo17.png', style: "width: 15%" %></div>
			<div><%= image_tag 'logo18.jpg', style: "width: 35%" %></div>
			<div><%= image_tag 'logo19.jpg', style: "width: 25%" %></div>
			<div><%= image_tag 'logo20.jpg', style: "width: 35%" %></div>
			<div><%= image_tag 'logo21.png', style: "width: 20%" %></div>
			<div><%= image_tag 'logo22.jpg', style: "width: 15%" %></div>
		</div>
	</div>
</div>