<!-- Pre Loader-->
<div id="preloader"></div>



<!-- Banner Section CARROUSSELL QUI BUUUUUG-->
<div class="banner">
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade control-round indicators-line" data-ride="carousel" data-pause="" data-interval="7000">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="<%= asset_path('banner/banner-1.jpg')%>" class="slide-image" alt="">
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="slide-text slide_style_center">
                            <h1 data-animation="animated flipInX">Formez vous à la sécurité ...</h1>
                            <p data-animation="animated lightSpeedIn">Nos interventions font l'objet d'une préparation détaillée. Ainsi, elles correspondent réellement à vos besoins en tenant compte de l'existant et des contraintes propres à votre entreprise et à votre environnement</p>
                            <a href="service.html" class="btn btn-primary" data-animation="animated fadeInUp">View Services</a> <a href="contact.html" class="btn btn-danger" data-animation="animated fadeInDown">Quick Contact</a> </div>
                    </div>
                </div>
            </div>
            <div class="item"> <img src="<%= asset_path('banner/banner-3.jpg')%>" alt="" class="slide-image"/>
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="slide-text slide_style_center">
                            <h1 data-animation="animated flipInX">Vous êtes attaqué, que faire, comment réagir ...</h1>
                            <p data-animation="animated lightSpeedIn">Comment se défendre si on vous vole vos données bancaires ou votre identité ? Qui prévenir ? Quand prévenir ? Quels sont vos recours ? Comment faire pour redémarrer votre activité ?</p>
                            <a href="service.html" class="btn btn-primary" data-animation="animated fadeInUp">View Services</a> <a href="contact.html" class="btn btn-danger" data-animation="animated fadeInDown">Quick Contact</a> </div>
                    </div>
                </div>
            </div>

            <div class="item"> <img src="<%= asset_path('banner/banner-3.jpg')%>" alt="" class="slide-image" />
                <div class="bs-slider-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="slide-text slide_style_center">
                                <h1 data-animation="animated flipInX">Protéger vos systèmes, comment ça marche ...</h1>
                                <p data-animation="animated lightSpeedIn">Vous aider à comprendre comment vous pouvez sécuriser vos données, vos fichiers, vos photos, vos informations clients et les données confidentielles, voilà l'objectif de notre société et le service que nous comptons vous apporter.</p>
                                <a href="service.html" class="btn btn-primary" data-animation="animated fadeInUp">View Services</a> <a href="contact.html" class="btn btn-danger" data-animation="animated fadeInDown">Quick Contact</a> </div>
                            </div>
                        </div>
                    </div>

            <div class="item"> <img src="<%= asset_path('banner/banner-4.jpg')%>" alt="" class="slide-image" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="slide-text slide_style_center">
                            <h1 data-animation="animated flipInX">Délégation de personnel ...</h1>
                            <p data-animation="animated lightSpeedIn">Nous mettons à votre disposition des profils expérimentés et adaptés à votre structure et vos besoins techniques. Ainsi vous pouvez à tout moment renforcer votre équipe de travail.</p>
                            <a href="service.html" class="btn btn-primary" data-animation="animated fadeInUp">View Services</a> <a href="contact.html" class="btn btn-danger" data-animation="animated fadeInDown">Quick Contact</a> </div>
                    </div>
                </div>
            </div>
            <div class="item"> <img src="<%= asset_path('banner/banner-4.jpg')%>" alt="" class="slide-image" />
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="slide-text slide_style_center">
                            <h1 data-animation="animated flipInX">Découvrez notre blog ...</h1>
                            <p data-animation="animated lightSpeedIn">Mettez vous au courant des dernières actualités de notre site internet en consultant notre blog. De nombreux articles sur la sécurité informatique y sont publiés de façon fréquente.</p>
                            <a href="service.html" class="btn btn-primary" data-animation="animated fadeInUp">View Services</a> <a href="contact.html" class="btn btn-danger" data-animation="animated fadeInDown">Quick Contact</a> </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev"> <span class="fa fa-angle-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
        <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next"> <span class="fa fa-angle-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
    </div>
</div>



<!-- Introduction Section -->
<section class="introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="title">
                    <h2>COMMENT NOUS INTERVENONS ?</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a href="#" class="more viewmore-1">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-search"></i>
                        <h4>Par une analyse de votre demande d'aide</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a href="#" class="more viewmore-1">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-comment-medical"></i>
                        <h4>Par une série de conseils de protection</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a href="#" class="more viewmore-1">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-location-arrow"></i>
                        <h4>Par des actions de protection immédiate</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a href="#" class="more viewmore-1">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-hand-paper"></i>
                        <h4>Par une prise de main à distance par un ingénieur compétent</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a href="#" class="more viewmore-1">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-database"></i>
                        <h4>Nous nous déplaçons chez vous pour essayer de récupérer vos données, protéger votre système</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="short-intro-item">
                    <div class="overlay-link">
                        <div class="link-item">
                            <div class="link-content">
                                <a href="#" class="more viewmore-1">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-content"> 
                        <i class="fas fa-desktop"></i>
                        <h4>Nous vous aidons a tout ré-installer et à redémarrer le plus rapidement possible</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end container -->





<!-- Middle Information Section POURQUOI NOUS CHOISIIIIIIR -->
<section class="middle-information">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="title title-white">
                    <center>
                        <h2>Pourquoi nous choisir ?</h2>
                    </center>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="why-choose">
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-money-bill-wave-alt"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4><a href="http://www.mscit.fr/sk_index.php#">80 % des PME et PMI ne sont pas protégés ni sécurisées. Et vous ?</a></h4>
                        </div>
                    </div>
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-desktop"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4><a href="http://www.mscit.fr/sk_index.php#">Ordinateur bloqué = impossible de travailler. Avez-vous un plan de continuité d’activité ?</a></h4>
                        </div>
                    </div>
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-skull-crossbones"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4><a href="http://www.mscit.fr/sk_index.php#">Vol d’identité, Code de carte bleue, de vos photos, etc. Que faire ? Comment réagir ?</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="why-choose">
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-comment-medical"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4><a href="http://www.mscit.fr/sk_index.php#">En 2018, 1000 entreprises disparaîtront à cause d'une attaque par internet. Avez-vous pris vos précautions ?</a></h4>
                        </div>
                    </div>
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4><a href="http://www.mscit.fr/sk_index.php#">80% des failles de sécurité sont dues aux utilisateurs. Formez-vous à la sécurité</a></h4>
                        </div>
                    </div>
                    <div class="why-choose-link">
                        <div class="why-choose-icon"> 
                            <i class="fas fa-shield-alt"></i>
                        </div>
                        <div class="why-choose-content">
                            <h4><a href="http://www.mscit.fr/sk_index.php#">Protégez-vous dès maintenant ! SecurityKeys, une assistance complète et efficace.</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>









<!-- feature-service Section NOS SERVICESSSSSSS -->
<section class="feature-service">
    <div class="container">
        <div class="title">
            <h2>Nos Services</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('conseils.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><a href="service-details.html">AUDIT & CONSEIL</a></h3>
                        <p>SecurityKeys vous accompagne à définir et mettre en œuvre une nouvelle infrastructure, analyser tous vos problèmes techniques.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('accompagnement.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><a href="service-details.html">ACCOMPAGNEMENT SUR-MESURE</a></h3>
                        <p>SecurityKeys vous fait profiter de son expertise pour vous accompagner pendant toute la durée de vos projets informatiques.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('serveur.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><a href="service-details.html">ASSISTANCE MISE EN LIGNE</a></h3>
                        <p>SecurityKeys étudie avec vous la solution d’hébergement la plus adaptée à vos besoins en fonction de votre activité.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('securite.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><a href="service-details.html">SÉCURITÉ</a></h3>
                        <p>Confidentialité, intégrité et disponibilité des données transitant sur le Système d'Information sont devenues un enjeu majeur.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('formation.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><a href="service-details.html">CONTRAT ANNUEL DE FORMATION</a></h3>
                        <p>SecurityKeys vous propose de vous aider en formant vos collaborateur ou vous même. Contactez nous pour plus d'informations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <%= link_to image_tag('depanne.jpg', class: 'img-responsive'), services_path %>
                    </div>
                    <div class="service-content">
                        <h3><a href="service-details.html">CONTRAT ANNUEL D'ASSISTANCE</a></h3>
                        <p>Vous rencontrez une difficulté informatique pour des logiciels ou des matériels nous intervenons pour vous aider a trouver une solution.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="viewmore"> <a href="service.html" class="more viewmore-3">PLUS DE DÉTAILS</a> </div>
    </div>
</section>






<!-- Testimonials Section DERNIERS ARTICLES BLOOOOOOOOOOG-->
<section class="customer-testimonials">
    <div class="container">
        <div class="title">
            <h2>DERNIERS ARTICLES</h2>
        </div>
        <div class="owl-carousel owl-theme recent-update-slide" style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer">
            <div class="owl-wrapper" style="width: 3040px; left: 0px; display: block;">
              <div class="owl-item" style="width: 380px;">
                <div class="owl-wrapper-outer">
                  <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 3040px; left: 0px; display: block;">
                      <div class="owl-item" style="width: 380px;">
                        <div class="item">
                          <div class="recent-update-block">
                            <div class="recent-update-img"> 
                                <%= link_to image_tag('image1.jpg', class: 'img-responsive'), services_path %>
                              <div class="recent-update-date">
                                <div class="date">16 </div>
                                <div class="month">Juin</div>
                                <div class="year">2018</div>
                              </div>
                            </div>
                            <div class="recent-update-content">
                              <h3><a href="http://www.mscit.fr/sk_article1.php">Internet
                                  c'est dangereux, avec SecurityKeys.fr c'est
                                  mieux et c'est plus sûre.</a></h3>
                              <p>Votre monde tourne autour de votre ordinateur
                                et d'internet, ce média qui trace le futur, a
                                facilité la vie et les relations entre les
                                individus mais a beaucoup de faiblesses et de
                                fragilités.</p>
                              <a href="http://www.mscit.fr/sk_article1.php" class="more viewmore-4">Lire
                                la suite</a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="owl-item" style="width: 380px;">
                        <div class="item">
                          <div class="recent-update-block">
                            <div class="recent-update-img"> <a href="http://www.mscit.fr/sk_article2.php"><img

                                  src="./sk_index_files/image2.jpg" class="img-responsive"

                                  alt=""></a>
                              <div class="recent-update-date">
                                <div class="date">16 </div>
                                <div class="month">Juin</div>
                                <div class="year">2018</div>
                              </div>
                            </div>
                            <div class="recent-update-content">
                              <h3><a href="http://www.mscit.fr/sk_article2.php">Proposez
                                  a vos amis de nous connaître. Partagez et
                                  protégez les des attaques par virus.</a></h3>
                              <p>Vous avez envie de partager et d'apprendre à
                                vous protéger des virus, chevaux de Troie,
                                Ramsomware, et autres attaques qui peuvent vous
                                faire tout perdre.</p>
                              <a href="http://www.mscit.fr/sk_article2.php" class="more viewmore-4">Lire
                                la suite</a> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item" style="width: 380px;">
                <div class="owl-controls clickable" style="display: none;">
                  <div class="owl-pagination">
                    <div class="owl-page"><span class=""></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-controls clickable" style="display: none;">
            <div class="owl-pagination">
              <div class="owl-page"><span class=""></span></div>
            </div>
          </div>
        </div>
    </div>
</section>






<!-- Project Gallery Section PARTENAIRES ON SAIT PAS TROP AVEC UNE VIDEO ? -->
<section class="project-gallery">
    <div class="container-fluid">
        <div class="title">
            <h2>Titre</h2>
</section>
<div class="clearfix"></div>









<!-- Preloader Jquery -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#preloader').fadeOut(300);
    });
</script>
